sbpro-layout-landing(
    footerClasses='bg-dark footer-dark'
)

    sb-top-nav(
        topNavClasses='bg-gradient-primary-to-secondary navbar-dark fixed-top',
        brandClasses='text-white',
        buttonClasses='btn-teal'
    )

    sbpro-page-section(
        sectionClasses='py-10 bg-white',
        borderType='rounded',
        borderClasses='text-dark'
    )
        include pug_include/text.pug
