sbpro-layout-landing(
    footerClasses='bg-dark footer-dark'
)

    sb-top-nav(
        topNavClasses='bg-white navbar-light',
        brandClasses='text-dark',
        buttonClasses='btn-primary'
    )

    sbpro-page-section(
        sectionClasses='bg-white pb-10',
        borderType='rounded',
        borderClasses='text-dark'
    )
        include pug_include/header.pug
