sbpro-layout-landing(
    footerClasses='bg-dark footer-dark'
)

    sb-top-nav(
        topNavClasses='bg-white navbar-light',
        brandClasses='text-dark',
        buttonClasses='btn-teal'
    )

    sbpro-page-header(
        headerClasses='bg-gradient-primary-to-secondary page-header-ui-dark',
        borderType='angled',
        borderClasses='text-light'
    )
        include pug_include/header.pug

    sbpro-page-section(
        sectionClasses='py-10 bg-light',
        borderType='angled',
        borderClasses='text-dark'
    )
        include pug_include/intro.pug
