sbpro-layout-landing(
    footerClasses='bg-dark footer-dark'
)

    sb-top-nav(
        topNavClasses='bg-white navbar-light',
        brandClasses='text-dark',
        buttonClasses='btn-teal'
    )

    sbpro-page-header(
        headerClasses='bg-img-cover overlay overlay-80 page-header-ui-dark',
        borderType='rounded',
        borderClasses='text-light',
        backgroundImage='url("https://source.unsplash.com/5fNmWej4tAA/1500x900")'
    )
        include pug_include/header.pug

    sbpro-page-section(
        sectionClasses='bg-light py-10',
    )
        include pug_include/portfolio.pug

    sbpro-page-section(
        sectionClasses='bg-white py-10',
        borderType='rounded',
        borderClasses='text-dark'
    )
        include pug_include/contact.pug
