sbpro-layout-landing(
    footerClasses='bg-dark footer-dark'
)

    sb-top-nav(
        topNavClasses='bg-white navbar-light',
        brandClasses='text-dark',
        buttonClasses='btn-teal'
    )

    sbpro-page-header(
        headerClasses='bg-img-cover overlay page-header-ui-dark',
        borderType='angled',
        borderClasses='text-light',
        backgroundImage='url("https://source.unsplash.com/hrlvr2ZlUNk/1500x700")'
    )
        include pug_include/header.pug

    sbpro-page-section(
        sectionClasses='py-10 bg-light',
        borderType='angled',
        borderClasses='text-white'
    )
        include pug_include/intro.pug

    sbpro-page-section(
        sectionClasses='pt-5 pb-10 bg-white',
        borderType='angled',
        borderClasses='text-dark'
    )
        include pug_include/signup.pug
