sbpro-layout-landing(
    footerClasses='bg-light footer-light'
)
    sb-top-nav(
        topNavClasses='bg-transparent navbar-light fixed-top',
        brandClasses='text-primary',
        buttonClasses='btn-primary'
    )

    sbpro-page-header(
        headerClasses='bg-white page-header-ui-light',
        borderType='rounded',
        borderClasses='text-light'
    )
        include pug_include/header.pug
    
    sbpro-page-section(
        sectionClasses='py-10 bg-light',
        borderType='rounded',
        borderClasses='text-white'
    )
        include pug_include/landing-titles.pug
    
    sbpro-page-section(
        sectionClasses='py-10 bg-white',
        borderType='rounded',
        borderClasses='text-light'
    )
        include pug_include/pages-titles.pug
    
    sbpro-page-section(
        sectionClasses='py-10 bg-light',
        borderType='rounded',
        borderClasses='text-white'
    )
        include pug_include/header-examples.pug

    sbpro-page-section(
        sectionClasses='py-10 bg-white',
        borderType='rounded',
        borderClasses='text-light'
    )
        include pug_include/documentation.pug
