sbpro-layout-landing(
    footerClasses='bg-dark footer-dark'
)

    sb-top-nav(
        topNavClasses='bg-transparent navbar-dark fixed-top',
        brandClasses='text-white',
        buttonClasses='btn-teal'
    )

    sbpro-page-header(
        headerClasses='bg-gradient-primary-to-secondary page-header-ui-dark',
        borderType='rounded',
        borderClasses='text-light'
    )
        include pug_include/header.pug

    sbpro-page-section(
        sectionClasses='py-10 bg-light'
    )
        include pug_include/pricing-1.pug

    hr.my-0

    sbpro-page-section(
        sectionClasses='py-10 bg-light'
    )
        include pug_include/pricing-2.pug

    hr.my-0

    sbpro-page-section(
        sectionClasses='py-10 bg-light'
    )
        include pug_include/pricing-3.pug

    hr.my-0

    sbpro-page-section(
        sectionClasses='py-10 bg-light',
        borderType='waves',
        borderClasses='text-dark'

    )
        include pug_include/company.pug
